@import url('https://fonts.googleapis.com/css?family=Lato:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');


section.cards {
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    margin: auto;

}

@media only screen and (max-width: 992px) {
    section.cards {
        margin: auto;

    }
}


.rental-detail-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.forumCard {
    position: relative;
    display: flex;
    transition: all 0.25s ease;
    border-right: 1px solid rgb(243, 243, 243);
    border-left: 1px solid rgb(243, 243, 243);
    border-top: 1px solid rgb(243, 243, 243);

}



.forumCard__userimg {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.forumCard__Question-owner {
    position: absolute;
    padding: 15px 20px;

    span {
        font-size: 12px;
        opacity: 0.8;
        display: inline-block;
        padding: 5px;
    }
}



.reverse-horizontal {
    flex-direction: row-reverse;
    grid-row: span 1;
    grid-column: span 2;
}



.forumCard__content {
    padding: 16px;
}

.forumCard__type {
    font-variant: small-caps;
    letter-spacing: 2px;
    opacity: 0.9;
    color: palevioletred;
    padding-bottom: 0.5em;
}

.forumCard__title {
    font-size: 18px;
    opacity: 0.8;
    font-weight: 700;
    padding-bottom: 0.2em;
    transition: all 0.25s ease;
}

.forumCard__date {
    font-size: 14px;
    padding-bottom: 0.5em;
    opacity: 0.3;
}

.forumCard__time-to-read {
    font-style: italic;
}

.forumCard__excerpt {
    font-size: 16px;
    padding-bottom: 0.5em;
}

.forumCard__tags {
    margin-top: auto;
}

.tag {
    display: inline;
    background: papayawhip;
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 12px;
    color: palevioletred;
    user-select: none;
    cursor: pointer;

}

.tag:last-child {
    margin-left: 10px;
}

.tag:hover {
    background: darken(papayawhip, 5%);
}

.tag:active {
    background: darken(papayawhip, 10%);
}

.tag i {
    margin-right: 4px;
}